.scroll_to_top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #fff;
    background: #000;
    border: none;
    width: 40px;
    height: 40px;
    outline: none;
    cursor: pointer;
    z-index: 9;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $mainColor;
        box-shadow: 0px 0px 10px rgb(211, 211, 211);
    }
    @media (max-width: 600px) {
        bottom: 20px;
        right: 20px;
    }
}